 input {
   
    display: flex;
    width: 80%;
    align-items: center;

 }
 .input_box{
    width: 100%;
    border-radius: 50px;
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
   
    box-shadow: inset 0 0 5px black;

 }
 .input_box:focus{
    box-shadow: 0 0 10px 1000px rgba(0,0,0,0);
    outline: none;
 }
 .input_submit{
    width: 50px;
    margin: 12px;
    right: 0px;
    height: 50px;
    border-radius: 50px;
    font-size: 15px;
    background-color: #2f74c0;
    color: white;
    transition: 0.2s all;
    box-shadow: 0 0 20px black;


 }
 .todos{
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   width: 90%;
 }
 .todos_single{
   display: flex;
   width: 29.5%;
   border-radius: 5px;
   padding: 20px;
   margin-top: 15px;
   background-color: aquamarine;
  
 }
 .todos_singleText{
   flex: 2;
   padding: 5px;
   border: none;
 }
 .todos_singleText:focus{
outline: none;

 }
 .icon_holder{
   display: flex;
   gap: 0.5rem;
 }
 .editInput{
  
 }