
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@700&family=Comfortaa:wght@400;500&family=Noto+Sans+SC:wght@100&family=Oswald:wght@700&family=Poppins:ital,wght@0,300;0,400;0,800;0,900;1,800;1,900&family=Ubuntu:wght@300&display=swap');
.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:3rem;
  background-color: #2f74c0;
  font-family: "Neucha",cursive;
}
.heading{
  text-transform: uppercase;
  font-size: 40px;
  margin: 30px 0px;
  color:white;
  z-index: 1;
  text-align: center;

}